{% extends 'base.html.twig' %}

{% block title %}Restaurant index
{% endblock %}

{% block body %}
	<section
		id="banner">

		<!-- Slider -->
		<div id="main-slider" class="flexslider">
			<ul class="slides">
				<li>
					<img src="{{asset("assets/img/slides/1.jpg")}}" alt=""/>
					<div class="flex-caption">
						<h3>Pour une réception réussie</h3>
						<p>Vous êtes au bon endroit</p>

					</div>
				</li>
				<li>
					<img src="{{asset("assets/img/slides/2.jpg")}}" alt=""/>
					<div class="flex-caption">
						<h3>Choisissez Felicity</h3>
						<p>Pour tout occasion</p>

					</div>
				</li>
			</ul>
		</div>
		<!-- end slider -->
		<section class="dishes">
			<div class="container transparent">
				<div class="row">
					<div class="col-md-12">
						<div class="aligncenter">
							<h2 class="aligncenter">Nos prestations</h2>
							La Maison Felicity Traiteur répond à toutes vos demandes que vous soyez particuliers, entreprises ou associations.
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				Nous mettons votre disposition notre savoir-faire et notre créativité permanente en s’adaptant aux goûts et à la culture de tous les clients.<br>
							De la réception privée à domicile, à la soirée de prestige, en passant par un cocktail dinatoire ou un banquet, sans oublier les mariages, les séminaires, les repas de fêtes, barbecues géant, brunch etc. 
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				La Maison Felicity Traiteur répond à toutes vos demandes que vous soyez particuliers, entreprises ou associations.<br>
						</div>
						<br/>
					</div>
				</div>

				<div class="row service-v1  card small menu1 margin-bottom-40 ">
					<div class="col-md-4 md-margin-bottom-40">
						<div class=" card small menu ">
							<div class="card-image">
								<img class="img-responsive" src="{{asset("assets/img/service3.jpg")}}" alt="">
								<span class="card-title">Petit-déjeuner</span>
							</div>
							<div class="card-content">
								<p>
									Le petit-déjeuner est le repas le plus important de la journée.Et donc très particulier.
								</p>
								<p>
									Nous fesons une sélection variée pour que vous ayez un petit déjeuné complet
								</p>
								<a href="{{ path('menu1') }}" type="button" class="btn btn-warning btn-menu">Lire Plus</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 md-margin-bottom-40">
						<div class=" card small menu">
							<div class="card-image">
								<img class="img-responsive" src="{{asset("assets/img/service1.jpg")}}" alt="">
								<span class="card-title">Coktail</span>
							</div>
							<div class="card-content">
								<p>Pour toutes vos réceptions, faites appel à notre équipe, compétente et qualifiée.
								</p>
								<p>Nous prenons en main toute la gestion de vos cocktails et soirées de gala.
								</p>
								<a href="{{ path('menu2') }}" type="button" class="btn btn-warning btn-menu">Lire Plus</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 md-margin-bottom-40">

						<div class=" card small menu">
							<div class="card-image">
								<img class="img-responsive" src="{{asset("assets/img/service2.jpg")}}" alt="">
								<span class="card-title">Buffet</span>
							</div>
							<div class="card-content">
								<p>
									FELICITY vous propose des mets succulents et frais. Appétissant, varié, savoureux, tels sont les critères attendus pour un buffet de qualité.
								</p>
								<p>
									Nous vous proposons des buffets froids ou chauds très raffinés.
								</p>
								<a href="{{ path('menu3') }}" type="button" class="btn btn-warning btn-menu">Lire Plus</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 md-margin-bottom-40">

						<div class=" card small menu">
							<div class="card-image">
								<img class="img-responsive" src="{{asset("assets/img/service3.jpg")}}" alt="">
								<span class="card-title">Pause sucrée</span>
							</div>
							<div class="card-content">
								<p>
									Vous recherchez un traiteur professionnel pour l’organisation d’un goûter ou d’une pause sucrée ?<br>
								</p>
								<p>
									Faites appel à l'équipe expérimentée et compétente FELICITY pour réjouir vos papilles .
								</p>
								<a href="{{ path('menu4') }}" type="button" class="btn btn-warning btn-menu">Lire Plus</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 md-margin-bottom-40">

						<div class=" card small menu">
							<div class="card-image">
								<img class="img-responsive" src="{{asset("assets/img/service2.jpg")}}" alt="">
								<span class="card-title">Mariage</span>
							</div>
							<div class="card-content">
								<p>
									Pour ce jour si spécial, le repas se doit d’être exceptionnel.
								</p>
								<p>
									À l’occasion de votre mariage,Felicity assure la préparation, la mise en place, le service et bien sûr le rangement.
								</p>
								<a href="{{ path('menu5') }}" type="button" class="btn btn-warning btn-menu">Lire Plus</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 md-margin-bottom-40">

						<div class=" card small menu">
							<div class="card-image">
								<img class="img-responsive" src="{{asset("assets/img/service1.jpg")}}" alt="">
								<span class="card-title">Anniversaire</span>
							</div>
							<div class="card-content">
								<p>
									Simplifiez-vous la vie lors de vos événements professionnels ou particuliers.
								</p>
								<p>
									Et confiez la gestion du service traiteur à un spécialiste pour organiser vos anniversaires.
								</p>
								<a href="{{ path('menu6') }}" type="button" class="btn btn-warning btn-menu">Lire Plus</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section-padding gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Qui sommes nous ?</h2>
							<p>felicity est une société spécialisée dans l'organisation d'événements pour particuliers et professionnels, actuellement située à Rabat au Maroc.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="about-text">
							<p>Buffets, anniversaires, cocktails et même mariages, nous vous proposons des prestations sur mesure pour tous vos événements.Nous vous garantissons un service et des plats de qualité pour satisfaire vos convives. Felicity est composé d'un groupe de professionnels qualifiés et expérimentés. Ils ont maîtrisé la technologie menant à l'excellence. En constante innovation, l'institution produit de délicieuses recettes alliant créativité et passion. Des plats succulents faits par des passionnés de la cuisine</p>

							<ul class="withArrow">
								<li>
									<span class="fa fa-angle-right"></span>
									Petit-déjeuner</li>
								<li>
									<span class="fa fa-angle-right"></span>
									Cocktail</li>
								<li>
									<span class="fa fa-angle-right"></span>
									Buffet</li>
								<li>
									<span class="fa fa-angle-right"></span>
									Anniversaire.</li>
								<li>
									<span class="fa fa-angle-right"></span>
									Mariage.</li>
							</ul>

						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="about-image">
							<img src="{{asset("assets/img/about.jpg")}}" alt="About Images">
						</div>
					</div>
				</div>
			</div>
		</section>

	</section>
{% endblock %}
